.el-datePicker {
  background-color: beige;
}

.button {
  height: 28px;
  font-size: 12px;
  background: #fff;
  margin: 0;
  padding: 0 16px;
  border: 1px solid rgba(#979797, 0.4);
  border-radius: 14px;
  cursor: pointer;
  &:hover {
    color: #0065ff;
  }
  &:active {
    background-color: rgba(0, 0, 0, 6%);
  }
  &:disabled {
    color: #979797;
    background-color: rgba(0, 0, 0, 6.5%);
    cursor: not-allowed;
  }
}

.button-group {
  .button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
  .button:not(:first-child, :last-child) {
    border-radius: 0;
    border-left: 0;
  }
}
.calendar {
  max-width: 400px;
  max-height: 500px;
  border: 1px solid #e4e7ed;
  border-radius: 5px;
  box-shadow: 0 0 10px #d3d3d3;
}
.calendar-operate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid rgba(#979797, 0.15);
  font-size: 18px;
  position: relative;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0 8px;
  }
}

.calendar-header {
  padding: 8px 0;
  display: flex;
  border-bottom: 1px solid #ebeef5;
  font-size: 16px;
  font-weight: bold;
}

.calendar-header__item {
  flex: 1;
  text-align: center;
  border-radius: 1px;
  &.gray {
    color: #979797;
    font-weight: normal;
  }
}

.calendar-content {
  margin: 0.5em;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  position: relative;
  color: #333;
}

.calendar-content__item {
  flex: calc(14.2% - 8px);
  font-size: 14px;
  box-sizing: border-box;
  transition: all 0.2s ease;
  text-align: center;
  padding: 10px 0;
  margin-right: 8px;
  &:nth-child(7n),
  &:nth-child(7n-6) {
    color: #979797;
  }
  &:nth-child(7n) {
    margin-right: 0;
  }
  &.active {
    color: #0065ff;
    font-weight: bold;
  }
  &:hover {
    color: #7ab3ff;
    cursor: pointer;
  }
  &.light {
    color: rgba(#979797, 0.4);
    cursor: not-allowed;
  }
}
